/* styles.css */

/* Style pour la carte */
.map-container {
  height: 75vh;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Classe pour ajuster la taille de la carte */
.custom-map {
  height: 65vh; /* Hauteur de la carte */
  width: auto; /* Largeur de la carte */
}

/* Style pour les marqueurs */
.my-marker {
  background-color: #3498db;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style pour les popups */
.leaflet-popup-content-wrapper {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #ffffff;
  backdrop-filter: blur(10px); /* Effet de flou pour un arrière-plan flou */
}

/* Style pour le contenu à l'intérieur des popups */
.leaflet-popup-content {
  margin: 8px;
}

/* Style pour le titre à l'intérieur des popups */
.leaflet-popup-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #2c3e50;
}

/* Style pour le texte à l'intérieur des popups */
.leaflet-popup-content p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #34495e;
}
/* styles.css */

/* Style pour le conteneur de la carte */
body {

  background-color: #8d6161; /* Ajout de la couleur de fond */
}
